@import url(https://fonts.googleapis.com/css?family=Roboto:900|Roboto+Mono:300,400,700);


:root {
    --dark: rgb(48, 48, 48);
    --light: rgb(253, 253, 253);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto Mono;
}


body {
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: var(--light);
    background-color: var(--dark);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--dark);
    background-color: var(--light);
    padding: 0.5% 1% 0.5% 1%;
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
}

header a {
    color: var(--dark);
    background-color: var(--light);
    border-color: transparent;
    padding: 5px 10px;
    font-size: 15px;
}

header p {
    padding: 5px 10px;
    margin-right: 10px;
}

.container  {
    padding: 0.5% 1% 0.5% 1%;
    margin: 0;
    text-align: center;
}

.container #intro h1 {
    font-size: 40px;
    font-weight: 400;
    padding: 100px 0 0 0;
}

.container #intro p {
    line-height: 1.15;
    padding: 0.5% 1% 0.5% 1%;
}

button {
    padding: 0.5% 1% 0.5% 1%;
    margin-top: 10px;
    height: 50px;
    width: 150px;
}

#questionSection {
    padding: 70px 0 10px 20px;
}

#ScoreSection h2 {
    padding: 70px 0 20px 0;
    font-size: 30px;
    font-weight: 200;
}

#ScoreSection p {
    padding: 0 0 20px 0;
}
#ScoreSection input {
    height: 30px;
    width: 100px;
}

#highScoreSection h2 {
    padding: 70px 0 20px 0;
    font-size: 30px;
    font-weight: 200;
}
#listHighScores {
    padding: 0 0 20px 0;
}

#goBack, #clearHighScore {
    font-size: 12px;
}

#lineBreak {
    margin: 10px;
}